# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CPP/HelloCpp11/*.db
/CPP/HelloCpp11/*.user
/CPP/HelloCpp11/enc_temp_folder
/CPP/HelloCpp11/Debug
/CS/HelloSharpWpf/HelloSharpWpf/bin
/CS/HelloSharpWpf/HelloSharpWpf/obj
/CPP/HelloCpp11/.vs/HelloCpp11/v14/*.suo
/CS/HelloSharpWpf/HelloSharpWpf/.vs/HelloSharpWpf/v14/*.suo

xcuserdata